# utilitites
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin

# use this of any issues python -m pip install dlib-19.24.1-cp311-cp311-win_amd64.whl

# github repos
git+https://github.com/ageitgey/face_recognition_models

setuptools<70.0.0

#database
supabase
bcrypt

# Qr code
segno

# preprocessing
pillow

#frontend
streamlit

librosa
resemblyzer


